{% include 'include.twig' with {'showBack': true} %}

<body>
    <title>{{ country }} leaderboards</title>

    <h1 class="center-align">Regional Leaderboard ({{country}})</h1>
    <h6 class="right-align container">last updated: {{ lastUpdated }}</h5>
    <table class="container striped" style="margin-bottom: 30px">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>W/L</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in leaderboard %}
                <tr>
                    <th class="valign-wrapper">
                        <img
                            src="http://slprank.com/imgs/{{entry.rank}}.png"
                            width="32"
                            height="32"
                            alt="{{entry.rank}}"
                            class="tooltipped"
                            data-position="left"
                            data-tooltip="{{entry.rank}}"
                            style="margin-right: 10px; object-fit: contain">
                        {{ loop.index }}
                    </th>
                    <th><div>{{ entry.name }}<span>{{ entry.code }}</span></div></th>
                    <th class="player-wl"><span class="player-wins">{{ entry.wins }}</span> / <span class="player-losses">{{ entry.losses }}</span></th>
                    <th>{{ entry.rating }}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.tooltipped');
        var instances = M.Tooltip.init(elems);
    });
</script>